[submodule "themes/beautifulhugo"]
	path = themes/beautifulhugo
	url = https://github.com/halogenica/beautifulhugo.git
[submodule "themes/black-and-light"]
	path = themes/black-and-light
	url = https://github.com/davidhampgonsalves/hugo-black-and-light-theme.git
[submodule "themes/gohugo-theme-ananke"]
	path = themes/gohugo-theme-ananke
	url = https://github.com/budparr/gohugo-theme-ananke.git
[submodule "themes/hugo-bare-min-theme"]
	path = themes/hugo-bare-min-theme
	url = https://github.com/kaushalmodi/hugo-bare-min-theme.git
[submodule "themes/hugo-debugprint"]
	path = themes/hugo-debugprint
	url = https://github.com/kaushalmodi/hugo-debugprint.git
[submodule "themes/hugo-search-fuse-js"]
	path = themes/hugo-search-fuse-js
	url = https://github.com/kaushalmodi/hugo-search-fuse-js.git
[submodule "themes/tale"]
	path = themes/tale
	url = https://github.com/EmielH/tale-hugo.git
[submodule "themes/vanilla-bootstrap-hugo-theme"]
	path = themes/vanilla-bootstrap-hugo-theme
	url = https://github.com/zwbetz-gh/vanilla-bootstrap-hugo-theme.git
[submodule "themes/whiteplain"]
	path = themes/whiteplain
	url = https://github.com/taikii/whiteplain.git
