/*! CSS Used from: Embedded */
 *,*:before,*:after{
    box-sizing:inherit;
}
 h1{
    margin:0;
}
/*! CSS Used from: Embedded */
 .ao{
    font-family:medium-content-sans-serif-font, "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Geneva, Arial, sans-serif;
}
 .ap{
    font-style:normal;
}
 .dv{
    font-weight:600;
}
 .dx{
    color:rgba(0, 0, 0, 0.84);
}
 .nc{
    line-height:1.12;
}
 .nd{
    letter-spacing:-0.022em;
}
 .no{
    margin-bottom:-0.28em;
}
/*! CSS Used from: Embedded ;
 media=(min-width: 1080px) */
 @media (min-width: 1080px){
     .nm{
        font-size:34px;
    }
     .nn{
        margin-top:1.95em;
    }
}
/*! CSS Used from: Embedded ;
 media=(max-width: 551.98px) */
 @media (max-width: 551.98px){
     .ne{
        font-size:30px;
    }
     .nf{
        margin-top:1.2em;
    }
}
/*! CSS Used from: Embedded ;
 media=(max-width: 1079.98px) and (min-width: 904px) */
 @media (max-width: 1079.98px) and (min-width: 904px){
     .nk{
        font-size:34px;
    }
     .nl{
        margin-top:1.95em;
    }
}
/*! CSS Used from: Embedded ;
 media=(max-width: 903.98px) and (min-width: 728px) */
 @media (max-width: 903.98px) and (min-width: 728px){
     .ni{
        font-size:34px;
    }
     .nj{
        margin-top:1.95em;
    }
}
/*! CSS Used from: Embedded ;
 media=(max-width: 727.98px) and (min-width: 552px) */
 @media (max-width: 727.98px) and (min-width: 552px){
     .ng{
        font-size:30px;
    }
     .nh{
        margin-top:1.2em;
    }
}
