{{ define "title" }}
  {{ .Site.Title }}
{{ end }}
{{ define "bodyclass"}}home{{ end }}
{{ define "main" }}
<div class="main-int">
  <div class="js-tabs">
    <div class="block-title">
      <h1>Ploum <span> derniers billets </span></h1>
      <ul class="js-tablist" data-existing-hx="h2">
       <li class="js-tablist__item">
        <a href="#id_first" class="js-tablist__link">Billets en français</a>
       </li>
       <li class="js-tablist__item">
        <a href="#id_second" class="js-tablist__link" lang="en">Posts in english</a>
       </li>
      </ul>
    </div>
    <div id="id_first" class="js-tabcontent">
       <h2 class="invisible">Billets en français</h2>
       {{ $paginator := .Paginate .Page.Site.Taxonomies.tags.fr }}
       <ul class="list-post">
         {{ range first 16 $paginator.Pages }}
          <li>
            <a href="{{ .URL }}">
              <figure role="group">
                {{ if .Params.image }}<img src="{{ .Params.image }}" alt="">{{else}}<img src="/images/ploum-image.jpeg" alt="">{{end}}
                <figcaption>
                  <ul>
                    {{ range $index, $element :=.Params.tags }}
                    <li>{{.}}</li>
                    {{ end }}
                    <li>{{ .Params.author }}</li>
                  </ul>
                  <h2>{{ .Title }}</h2>
                  <p>{{ truncate 144 .Summary }}</p>
                </figcaption>
              </figure>
            </a>
          </li>
          {{ end }}
       </ul>
       {{ template "_internal/pagination.html" . }}
     </div>
     <div id="id_second" class="js-tabcontent" lang="en">
       <h2 class="invisible">Posts in english</h2>
       {{/* {{ $paginatorEN := .Paginate (where .Data.Pages ".Params.tags" "EN") }} */}}
       <ul class="list-post">
         {{ range first 16 .Page.Site.Taxonomies.tags.en }}
         <li>
           <a href="{{ .URL }}">
             <figure role="group">
               {{ if .Params.image }}<img src="{{ .Params.image }}" alt="">{{else}}<img src="/images/ploum-image.jpeg" alt="">{{end}}
               <figcaption>
                 <ul>
                   {{ range $index, $element :=.Params.tags }}
                   <li>{{.}}</li>
                   {{ end }}
                   <li>{{ .Params.author }}</li>
                 </ul>
                 <h2>{{ .Title }}</h2>
                 <p>{{ truncate 144 .Summary }}</p>
               </figcaption>
             </figure>
           </a>
          </li>
         {{ end }}
       </ul>
       <p class="btn"><a href="/tags/en/">See more english posts</a></p>
     </div>
  </div>
</div>
{{ end }}
{{ define "scripts"}}
 <script src="/js/aria-tab.min.js"></script>
{{ end }}
