<div id='comments'>
  {{ $entryId := .File.BaseFileName }}
  {{ $comments := index .Site.Data.comments $entryId | default slice }}

  <header>
    <div class='one'>{{ T "discussOn" }}</div>
    {{ partial "share.html" }}
    <div class='replies-count'>{{ len $comments }} replies</div>
  </header>

  <hr />

  {{ range $comments }}
    {{ $currentYear := now.Format "2006" }}
    {{ $date := time .date }}
    {{ $fullDate := dateFormat "January 2, 2006 15:04" $date }}
    {{ $shortDate := cond (lt $date.Year $currentYear) (dateFormat "Jan '06" $date) (dateFormat "06 Jan" $date) }}

    <article id='comment-{{ ._id }}' class='comment'>
      <header>
        <a class='reply-button' href='#comment-form'>Reply</a>
        <a href="#comment-{{._id }}" title="{{ $fullDate }}">{{ $shortDate }}</a>
      </header>

      <div class='content'>
        <h3 class="author">{{ .author }}</h3>
        <p>{{ .content | markdownify }}</p>
      </div>
    </article>
    <hr />
  {{end }}

  {{ partial "comments-form.html" . }}
</div>
