<div class='comments'>
  {{ $entryId := .File.BaseFileName }}
  {{ $comments := index .Site.Data.comments $entryId | default slice }}

  <header>{{ partial "share.html" }} <span>{{ len $comments }} replies</span></header>

  <hr />

  {{ range $comments }}
    {{ $currentYear := now.Format "2006" }}
    {{ $date := time .date }}
    {{ $fullDate := dateFormat "January 2, 2006 15:04" $date }}
    {{ $shortDate := cond (lt $date.Year $currentYear) (dateFormat "Jan '06" $date) (dateFormat "06 Jan" $date) }}

    <article id='comment-{{ ._id }}' class='comment'>
      <a class='comment-reply-button'>Reply</a>
      <a title="{{ $fullDate }}" class="comment-date" href="#comment-{{._id }}"> {{ $shortDate }}</a>
      <p class="comment-author">{{ .name }}</p>
      <div class='comment-content'>{{ .content | markdownify }}</p>
    </article>
  {{end }}

  {{ partial "comments-form.html" . }}

</div>
