{{ T "discussOn" }}
  <a class="share-links" href="//twitter.com/share?url={{ .Permalink }}&amp;text={{ .Title }}&amp;via={{ .Site.Author.twitter }}" target="_blank" title="Share on Twitter">Twitter</a>,
  <a class="share-links" href="//www.facebook.com/sharer/sharer.php?u={{ .Permalink }}" target="_blank" title="Share on Facebook">Facebook</a>,
  <a class="share-links" href="#">Medium</a>,
  <a class="share-links" href="//reddit.com/submit?url={{ .Permalink }}&amp;title={{ .Title }}" target="_blank" title="Share on Reddit">Reddit</a>
