// # Wrapper
// ===============
// .l-wrap {

header {
  padding: vr(0.5) vr(0.9) 0;
  max-width: vr(22.8);
  margin: auto;
  // padding-top: 10px;
  text-align: right;
  position: relative;
  padding-bottom: vr(0.5);

  // .logo {
  //   // position: absolute;
  //   // left: vr(1);
  //   width: 32px;
  //   height: 32px;
  //   padding: 5px;
  //   border: 1px solid #ccc;
  // }
}

main {
  padding: 0 vr(0.9);
  max-width: vr(22.8);
  // width: 680px;
  margin: auto;
  // > * { max-width: vr(32) }

  // @supports (display: grid) {
  //   @include bp(med) {
  //     display: grid;
  //     grid-template-columns:
  //     1fr
  //     minmax(auto, vr(28))
  //     1fr;

  //     > * { grid-column:2 / span 1; }
  //     > .l-wrap__full { grid-column: 2 / span 2; }
  //   }

  //   @include bp(large) {
  //     padding-right: vr(2);
  //     padding-left: vr(2);
  //   }

  //   @include bp(mega) {
  //     padding-right: 0;
  //     padding-left: 0;
  //   }
  // }

  // @supports not (display: grid) {
  //   @include bp(med) {
  //     max-width: vr(46);
  //     margin: auto;

  //     > * { max-width: vr(32) }
  //     > .l-wrap__full { max-width: 100% }
  //   }

  //   @include bp(large) {
  //     padding-right: vr(2);
  //     padding-left: vr(2);
  //   }

  //   @include bp(mega) { max-width: vr(56); }
  // }
}

