// <link href="stylesheets/screen.css" rel="stylesheet" type="text/css" />
//archive url http://incoheristtest.blogspot.com.br/search?updated-
// min=2013-01-01T00:00:00-08:00&amp;updated-max=2019-01-01T00:00:00
// -08:00&amp;max-results=9&q=a


@import "fontStack";


$f0: "Source Sans Pro";
$nChars: 50;
$fontSize: 1em;
$f1: $f0;

// $f0: "Trebuchet MS";
// $nChars: 54;
// $fontSize: 0.91em;
// $f1: Tahoma;

//$f0: Verdana;
//$nChars: 61;
//$fontSize: 0.85em;

//$f0: Arial;
//$nChars: 51;
//$fontSize: 0.97em;

//$f0: Tahoma;
//$nChars: 51;
//$fontSize: 0.96em;

//$f0: "Open Sans";
//$nChars: 57;
//$fontSize: 0.9em;


//* {
//	font-weight: 400;
//	color: #666;
//}





$xHeight: 1.1;                       // default 1
$lineLength: ($nChars / 1.5) * 1em;
$headingsFamily: $f1;
$bodyFamily: $f0;
$alternateFamily: Georgia, "Lucida Bright", "Times New Roman", Times, serif;


/***************************************************************************/
/***************************************************************************/
/***************************************************************************/

$blue: #428bca;
$green: #2a8a15;
$orange: #ed702b;
$red: #cc0f0f;

$bodyColor: #444;
$linkColor: darken($blue,10%);
//$linkColor: #666;
$headingColor: #222;


// TYPEUP
// -------------------------------------//

$doubleStrandedHeadingClasses: true;
$headingBaselineShift:0em;         //default 0
$headingLinesBefore: 2;            //default 1
$headingLinesAfter: 0.3;             //default 0
$ratio: major-second();          //default fourth()
//$ratio: 10/8;

//@import "compass/reset";
//@import "compass/css3/transition";

@import "my-typeplate";

// @import "typeup";
// @include typeup-body($fontSize, $lineLength, $xHeight);