@mixin comment-author{

}

#comments {

  > header {
    @include tp-nav;
    text-align: center;
    * {
      // display: inline-block;
    }
    .repliesCount {

    }

    .share {
      // letter-spacing: 0.07em; // No linux não precisou!
      a {
        @include o-link--primary;
      }
    }

      .replies-count {
    // position: relative;
    // left: 118px;
    // top: 28px;
    // font-size: 15px;
    // font-weight: 700;
    /* font-family: arial; */
    color: rgba(0, 0, 0, 0.54);
      }

  }



  .comment {
    //TODO colocar todos overrides de fonte aqui!! Teria sido mais facil com rootVars! :-(
    // @include tp-text-small2;
    // negrito

    margin-top: -12px;

    header {
      float:right;
      margin-top: 8px;
      @include tp-date;


      a {
        padding: 8px 0px 8px 6px;
      }

      // maybe on the bottom
      .reply-button {
        // margin-right: 3px;
      }


      // .reply-button {
      //   @include o-link--primary;
      //   background: rgba(0, 0, 0, 0.05);
      //   padding: 2px 2px;
      //   border-radius: 3px;
      //   text-decoration: none;
      //   color: color(lighter-black);
      //   display: inline-block;

      //   &:hover {
      //     background: rgba(0, 0, 0, .07);
      //   }
      // }
    }

    .author {
      @include tp-comment-author;
      //  margin-top: 0;

      // @include ff(header);
    }

    .owner {
      color: color(red);
    }

    .content {
       margin-top: 0;
      // @include tp-text-small;
    }
  }

  a {

  }

        hr {
        margin-bottom: 0;
      }
}

// #reply-control {

//     position: fixed;
//     display: flex;
//     flex-direction: column;
//     bottom: 0;
//     height: 0;
//     right: 0;
//     left: 0;
//     margin-left: auto;
//     margin-right: auto;
//     max-width: 1475px;
//     width: 100%;
//     z-index: 400;
//     transition: height 250ms ease, background 250ms ease, transform 250ms ease, max-width 250ms ease;
//     background-color:

// #fff;

// box-shadow: 0 -1px 40px

//     rgba(0,0,0,0.12);

// }