//@import url('https://fonts.googleapis.com/css?family=Lato:400,700,900|Lora:400,500,600|Playfair+Display:400,500,600,700i,900|Montserrat:400,500,600,700,800,900');
// @import url('https://fonts.googleapis.com/css?family=Lora:400,400i,700,700i&display=swap&subset=latin-ext');
// @import url('https://fonts.googleapis.com/css?family=Source+Serif+Pro:400,700&display=swap&subset=latin-ext');
// @import url('https://fonts.googleapis.com/css?family=PT+Serif:400,400i,700,700i&display=swap&subset=latin-ext');
// @import url('https://fonts.googleapis.com/css?family=Noto+Serif:400,400i,700,700i&display=swap&subset=latin-ext');

// $fontFamily: local('Georgia'), local('Bitstream Charter'), local('PT Serif'), local('PTSerif-Regular');

@font-face {
  font-family: CharterBT;
  font-weight: 400;
  font-display: swap;
  src: url('/fonts/subset-CharterBT-Roman.woff2') format('woff2'),
       url('/fonts/subset-CharterBT-Roman.woff') format('woff');
}

@font-face {
  font-family: CharterBT;
  font-weight: 700;
  font-display: swap;
  src: url('/fonts/subset-CharterBT-Bold.woff2') format('woff2'),
       url('/fonts/subset-CharterBT-Bold.woff') format('woff');
}

// @font-face {
//   font-family: 'Lora2';
//   src: url(https://fonts.gstatic.com/s/lora/v14/0QIvMX1D_JOuMwT7I-NP.woff2) format('woff2');
// }

// @font-face {
//   font-family: Georgia;
//   src: local('Georgia'), url(../fonts/CharterBT-Roman.otf) format('opentype');
// }