.form {

  .input-wrap {
    border: 2px solid #ccc;
    border-radius: 4px;
    overflow: hidden;
  }

  [type='text'], [type='email'], textarea {
    @include tp-comments;
    padding: 0.75em;
    color: color(light-black);
    &::placeholder { color: color(lighter-black); }
    background-color: transparent;
  //  box-shadow: 0 0 0px 1000px #fff inset; // para contornar webkit-autofill


    //padding-bottom: 0 !important;
    //background-color: white;
    //color: color(light-black) !important;
  }

  [type='email'], [type='text'] {
    @include tp-comment-author;
    display: inline-block;
    min-width: 48.6%;
  }
  [type='email'] {
    @include tp-comment-email;
    text-align: right;
  }

//  input:-webkit-autofill {
//    -webkit-text-fill-color: color(lighter-black);
//    -webkit-box-shadow: 0 0 0 30px white inset;
//   }


// https://stackoverflow.com/questions/2781549/removing-input-background-colour-for-chrome-autocomplete
@-webkit-keyframes autofill {
  to {
      color: color(lighter-black);
      background: transparent;
  }
}

input:-webkit-autofill {
    -webkit-animation-name: autofill;
    -webkit-animation-fill-mode: both;
}

// input:-webkit-autofill,
// input:-webkit-autofill:hover,
// input:-webkit-autofill:focus,
// input:-webkit-autofill:active {
//     -webkit-transition: "color 9999s ease-out, background-color 9999s ease-out";
//     -webkit-transition-delay: 9999s;
// }



  textarea {
    padding-top: 0px;
    min-height: vr(2);
    resize: vertical;
    width: 100%;
  }

  .form-name {
    margin-right: 1.4%;
  }

  @mixin o-btn {
    display: inline-block;
    position: relative;
    border-radius: 4px;
    // Text in button feels slightly low. Bumping padding bottom to centralize them
    padding: 0.15em 1em 0.15em;
    transition: background-color 0.15s ease-in-out;
    border: 1px solid transparent; // to balance with input
    font-size: inherit;
    // Safari inline block has a whitespace bug that causes. nowrap fixes it
    // white-space: nowrap;
    @include ff(header);
    @include typi(tss4);
    // @include remove-link-underline;
    cursor: pointer;

    &:active,
    &:focus {
      // @include remove-link-underline;
      background-color: color(red);
      color: white;
    }
  }

  .o-btn,
  a.o-btn {
    @include o-btn;
  }

}


