:root {
  --theme-color: #{color(radred)};
}

main, header {
  padding: 0 vr(0.847);
  @include bp(large) { padding: 0 vr(0.9); }
  max-width: vr(22.274);
  margin: auto;
  margin-top: vr(1.5);
}

header {
  margin-top: vr(0.5);
  text-align: right;
}

* + h2 {
  margin-bottom: vr(-0.07);
  margin-top: vr(1.1);

  @include bp(large) {
    margin-bottom: 0;
    margin-top: vr(1.7);
  }
}

* + h3 {
  margin-bottom: vr(-0.15);
  margin-top: vr(1);

  @include bp(large) {
    margin-bottom: 0;
    margin-top: vr(1.1);
  }
}

h2 + p, h2 + ul { margin-top: vr(0.35); }
h3 + p, h3 + ul { margin-top: vr(0.4); }
li + li { margin-top: vr(0.3) }

hr {
  margin-top: vr(1);
  margin-bottom: vr(1);
}

.c-comments {
  margin-top: vr(1.5);
}

.full-width {
  width: 100vw;
  position: relative;
  left: 50%;
  right: 50%;
  margin-left: -50vw;
  margin-right: -50vw;
}