:root {
  --theme-color: #{color(radred)};
}

header {
  padding: vr(0.5) vr(0.847) 0;
  @include bp(large) { padding: vr(0.5) vr(0.9) 0 }
  max-width: vr(22.274);
  margin: auto;
  text-align: right;
  position: relative;
  padding-bottom: vr(0.5);
}

main {
  padding: 0 vr(0.847);
  @include bp(large) { padding: 0 vr(0.9); }
  max-width: vr(22.274);
  margin: auto;
  margin-top: vr(1.5);
}

.c-comments {
  margin-top: vr(1.5);
}

.full-width {
  width: 100vw;
  position: relative;
  left: 50%;
  right: 50%;
  margin-left: -50vw;
  margin-right: -50vw;
}