.words {

  margin-top: vr(0.95);

  li {
    margin-left: 1.4rem;
    list-style-position: outside;
    font-feature-settings: 'liga' 1, 'lnum' 1;
  }

  li li {
    margin-left: 1rem;
  }

  ul li { list-style-type: disc }
  ol li { list-style-type: decimal; }

  ul li ul li {
    list-style-type: none;
  }

  ul li ul li:before {
    content: '-';
    position: absolute;
    margin-left: -1rem;
  }

  figure > img {
    border: 1px solid #ccc;
  }

  > figure {
    position: relative;

    figcaption {
      margin-top: vr(-0.175);
      text-align: center;
    }
  }

  a {
    @include o-link--primary;
  }

  a.image-link {
    background: none;
  }
}

.date {
  @include tp-date;

  .updatedText {
      text-transform: lowercase;
      padding-left: 5px;
      padding-right: 2px;
      color: color(red);
  }
  .updatedDate {
      font-size: 11px;
      color:color(red);
  }
}

.tag {
  @include tp-tag;
  margin-bottom: 8px;
  margin-right: 8px;
  display: inline-block;
}

.taglink {
  background: rgba(0, 0, 0, 0.05);
  padding: 5px 10px;
  border-radius: 3px;
  text-decoration: none;
  color: color(lighter-black);
  display: block;

  &:hover {
    background: rgba(0, 0, 0, .07);
  }
}


.share2 {
  a {
    @include o-link--primary;
  }
}

.pagination {
  margin-bottom: vr(2.5);
  a {
    @include o-link--primary;
  }

  .next {
    float: right;
    background-position: 0 calc(1em + 8px);
  }

  .previous {
    float: left;
    background-position: 0 calc(1em + 8px);
  }
}

.pageTitle {
  color:color(red);
}

