
.lightbox {
  position: fixed;
  z-index: 99;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  text-align: center;
  background: rgba(0, 0, 0, 0.9);
  opacity: 0;
  transition: opacity .3s;
  visibility: hidden;
}

.lightbox img {
  max-width: 90%;
  max-height: 90%;
  width: auto;
  margin: auto;
  transform: scale(0.95);
  transition: transform .3s;
}

.lightbox:target {
  outline: none;
  visibility: visible;
  cursor: default;
  opacity: 1;
}

.lightbox:target img {
  transform: scale(1);
}