@mixin tp-text {
  @include ff(text);
  @include fw(text, 400);
  letter-spacing: -0.004em;
}

@mixin tp-h1 {
  @include typi(tsl1);
  @include ff(text);
  @include fw(text, 400);
  color: color(black);
  letter-spacing: -0.0067em;
}

@mixin tp-h2 {
  @include typi(tsl2);
  @include ff(header);
  @include fw(header, 700);
  color: color(black);
  letter-spacing: -0.01em;
}

@mixin tp-h3 {
  @include typi(tsl3);
  @include ff(header);
  @include fw(header, 700);
  color: color(black);
  letter-spacing: -0.01em;
}

@mixin tp-nav {
  color:color(black);
  font-variant: all-small-caps;
  letter-spacing: 0.1em;
}

@mixin tp-tag {
  @include ff(header);
  @include typi(tss1);
}

@mixin tp-strong {
  @include fw(text, 700);
  @include typi(tsb);
}

// @mixin tp-blockquote {
//   @include ff(header);
//   @include fw(header, 400);
//   font-style: italic;
// }

@mixin tp-blockquote {
  // @include ff(header);
  // @include fw(header, 400);
  color: color(lighter-black);
  font-style: italic;
}

@mixin tp-caption {
  color: color(lighter-black);
  @include typi(tss3);
  @include ff(header);
  @include fw(header, 400);
}

@mixin tp-date {
  color: color(lighter-black);
  @include typi(tss1);
  @include ff(header);
  letter-spacing: -0.01em;
  font-feature-settings: 'liga' 1, 'smcp' 1;
  text-transform: uppercase;
}

@mixin tp-code {
  display: inline-block;
  margin: 0 0.25em;
  padding: 0 0.5em;
  border: 1px solid #ccc;
  background-color: color(alabaster);
  color: color(black);
  @include typi(tss3);
  @include ff(code);
  @include fw(code, 400);
  font-feature-settings: 'liga' 0;

  &:first-child {
    margin-left: 0;
  }

  &:last-child {
    margin-right: 0;
  }
}

@mixin tp-code--pre {
  display: block;
  @include typi(tss4);
  @include ff(code);
  @include fw(code, 400);
  margin: 0;
  padding: vr(0.5) vr(0.75);
  border: 0;
  background-color: transparent;
  color: color(gallery);
}

