$colors: (
  w: #fff,
  alabaster: #fafafa,
  gallery: #eee,
  aluminium: #999,
  monsoon: #777,
  // mine: #343434,
  // mine: rgba(0, 0, 0, 0.84),
  // mine: rgba(0, 0, 0, 0.7), //GEORGIA
  mine: rgba(0, 0, 0, 0.75), //GEORGIA
  mine2: rgba(0, 0, 0, 0.84), //GEORGIA
  radred: #fd256e,
  neonblue: #428bca,
  // neonblue: #4453f1,
  picton: #39B1FF,
  malachite: #12c766,
  geebung: #d28c14,
);

$breakpoints: (
  // 'medium': 728px,
  'small': 400px,
  'med': 640px,
  'large': 900px,
  'wide': 1100px,
  'mega': 1800px,
  'ultra': 2800px,
);

$font-families: (
  display: (Georgia, "Bitstream Charter", "URW Bookman L", serif), // h1
  text: (Helvetica, sans-serif), // h2
  condensed: (Arial, sans-serif), // date
  sans: (Georgia, "Bitstream Charter", "URW Bookman L", serif), // text
  code: (Consolas, monaco, monospace)
);

$font-weights: (
  display: 400,
  text: (400, 700),
  sans: (400, 600), // uses 700
  condensed: (500, 600),
  code: (400)
);

// $ms-ratio: 1.172;
$ms-ratio: 1.2; // TODO typi-ms
$typi: (
  // medium: 660 => 18px
  // base: (null: (20.5px, 1.58), small: 17.5px, large: 20.5px),  // null: (19px, 1.4), med: (20px, 1.4), large: 21px, wide: 22px, mega: 25px, ultra: 28px
  base: (null: (17.5px, 1.58), large: 20.5px),  // null: (19px, 1.4), med: (20px, 1.4), large: 21px, wide: 22px, mega: 25px, ultra: 28px
  tsb: (null: ms(1)),

  tsl1: (null: (38.5px, 1.23)), // h1
  tsl2: (null: (25.5px, 1.23), large: (24.5px, 1.23)), //h2
  tsl3: (null: (20.3px, 1.23), large: (18.9px, 1.23)), // h3
  // tsl1: (null: (ms(4), 1.23)), // h1
  // tsl2: (null: (ms(2), 1.23)), //h2
  // tsl3: (null: (ms(1), 1.23)), // h3

  tss1: (null: (ms(-1), 1.15)), // date
  tss2: (null: (ms(-1), 1.3)),
  tss3: (null: (ms(-2), 1.4)), //code
  tss4: (null: (ms(-2), 1.58)), //code
);