$colors: (
  gallery: #eee,
  alabaster: #fafafa,
  radred: #fd256e,

  link: #326891,
  black: rgba(0, 0, 0, 0.84),
  light-black: rgba(0, 0, 0, 0.75),
  lighter-black: rgba(0, 0, 0, 0.54),
);

$breakpoints: (
  'large': 700px,
);

$font-families: (
  text: (Georgia, "Bitstream Charter", "URW Bookman L", serif), // h1
  header: (-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen-Sans,Ubuntu,Cantarell,"Helvetica Neue",sans-serif),
  code: (Consolas, monaco, monospace)
);

$font-weights: (
  text: (400, 600), // uses 700
  header: (400, 700),
  code: (400)
);

// $ms-ratio: 1.172;
$ms-ratio: 1.2; // TODO typi-ms
$typi: (
  base: (null: (17.5px, 1.58), large: 20.5px),
  tsb: (null: 17px),

  tsl1: (null: (38.5px, 1.23)), // h1
  tsl2: (null: (25.5px, 1.23), large: (24.5px, 1.23)), //h2
  tsl3: (null: (20.3px, 1.23), large: (18.9px, 1.23)), // h3

  tss1: (null: (ms(-2), 1.58)), // date
  tss2: (null: (ms(-1), 1.3)),
  tss3: (null: (ms(-2), 1.4)), //code
  tss4: (null: (ms(-2), 1.58)), //code
);