$colors: (
  gallery: #eee,
  alabaster: #fafafa,

  red: #c52b03,
  link: #326891,
  // black: rgba(0, 0, 0, 0.84),
  black: rgba(0, 0, 0, 0.75),
  light-black: rgba(0, 0, 0, 0.75),
  lighter-black: rgba(0, 0, 0, 0.54),
);

$breakpoints: (
  'large': 700px,
);

$font-families: (
  //text: (Georgia, "Bitstream Charter", "URW Bookman L", serif), // h1
  text: (Georgia, "Bitstream Charter", CharterBT, serif), // h1
  // text: (CharterBT, serif), // h1
  // text: (GeorgiaLike, serif), // h1
  // text: ("Source Sans Pro", sans-serif), // h1
  // header: (-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen-Sans,Ubuntu,Cantarell,"Helvetica Neue",sans-serif),
  header: (Arial, sans-serif),
  code: (Consolas, monaco, monospace)
);

$font-weights: (
  text: (400, 700),
  header: (400, 700),
  code: (400)
);

// $ms-ratio: 1.172;
$ms-ratio: 1.2; // TODO typi-ms
$typi: (
  base: (null: (17.5px, 1.62), large: 20.5px),
  tsb: (null: 17px),

  tsl1: (null: (33.5px, 1.23)), // h1
  tsl2: (null: (25.5px, 1.23), large: (24.5px, 1.23)), //h2
  tsl3: (null: (20.3px, 1.23), large: (18.9px, 1.23)), // h3

  tss1: (null: (9.5px)), // date
  tss2: (null: (8.5px)), // updateDate
  tss3: (null: (ms(-2), 1.4)), //code
  tss4: (null: (ms(-2), 1.58)), //code
);


