// Libraries
@import "../../node_modules/normalize.css/normalize";
@import "../../node_modules/mappy-breakpoints/mappy-breakpoints";
@import "../../node_modules/typi/scss/typi";
@import "../../node_modules/modularscale-sass/stylesheets/modular-scale";

// @import "test/fonts";

@import 'fonts';
@import 'helpers';
@import "variables";
@import "typography";
@import "base/reset";
@import "base/base";

// more modifiable files
@import "base/typography";
@import "layouts";
@import "main";
@import "nav";
@import "components/main-nav";
@import 'overlay';
@import 'form';
@import 'comments';
// @import "objects/prism";

.youtube {
  width: 100%;
  border: 0;
  height: vr(17.5);
}

// Find a way to style tables properly...
table {
  border-collapse: collapse;

  th {
    text-align: left;
  }

  th,
  td {
    border: 1px solid black;
    padding: 0.25em;
  }
}