@mixin link-underline {
  background-image: linear-gradient(to right,rgba(0, 0, 0, 0.84) 100%,rgba(0, 0, 0, 0.84) 0);
  background-image: url('data:image/svg+xml;utf8,<svg preserveAspectRatio="none" viewBox="0 0 1 1" xmlns="http://www.w3.org/2000/svg"><line x1="0" y1="0" x2="1" y2="1" stroke="rgba(0, 0, 0, 0.84)" /></svg>');
  background-size: 1px 1px;
  background-repeat: repeat-x;
  background-position: 0 1.05em;
  background-position: 0 calc(1em + 1px);
}

@mixin o-link--primary {
  @include null-link;
  @include link-underline;
  color: color(link);
}