// TODO: Figure out why loading is jerky

.o-navlink+* {

}

header a {
    // @include o-link--primary;
  @include tp-nav;
    // & + * { margin-left: vr(0.35); }
    // padding: vr(0.35) 0 0 vr(0.35);
    // text-decoration: underline;
}

header a .logo {
  width: 28px;
  height: 28px;
  top: -1px;
  padding: 4px;
  border: 1px solid #ccc;
  vertical-align: top;
  position: relative;
  margin-right: 2px;
  @include bp(large) {
    top: 3px;
  }
}

@mixin active-link {
  color: var(--theme-color);

  &::after {
    transform: translateY(0);
    opacity: 1;
  }
}

@mixin inactive-link {
  color: color(mine);

  &::after {
    transform: translateY(-150%);
    opacity: 0;
  }
}

.o-navlink {
   & + * { margin-left: vr(0.35); }
}

.o-navlink2 {
  display: inline-block;
  position: relative;
  @include tp-sans;
  @include inactive-link;
  transition: color 0.15s ease-in-out;

  &::after {
    display: block;
    position: absolute;
    right: 0;
    left: 0;
    width: 100%;
    height: 3px;
    transition: transform 0.15s ease-in-out,
                opacity 0.15s ease-in-out;
    background-color: color(radred);
    content: '';
  }

  &:hover,
  &:active,
  &:focus,
  &.is-active {
    @include active-link;
  }

  & + * { margin-left: vr(0.75); }

  &:nth-child(-n + 4) {
    @include bp(max med) {display: none;}
  }
}

.o-navlink--offsite {
  display: block;
  padding: vr(0.25) vr(1);
  color: rgba(color(w), 0.9);
  @include tp-sans;
  text-align: center;
}

.tag {
  margin-bottom: 8px;
  margin-right: 8px;
  display: inline-block;
  font-family: Arial;

  a {
    font-size: 15px;
    line-height: 22px;
    background: rgba(0, 0, 0, 0.05);
    padding: 5px 10px;
    border-radius: 3px;
    text-decoration: none;
    color: rgba(0, 0, 0, 0.54);
    display: block;

    &:hover {
      background: rgba(0, 0, 0, .07);
    }
  }
}

hr {
    border-color: rgba(0, 0, 0, 0.1);
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
}