// Base Typography Declarations
// ===============
@include typi-init;

html {
  @include tp-text;
  color: color(black);
  text-rendering: optimizeLegibility;
  font-feature-settings: 'liga' 1;
  -webkit-font-smoothing: antialiased;
}

body {
  @include wrap-words;
}

h1 {
  @include tp-h1;
  color: inherit;
}

h2 {
  @include tp-h2;
}

h3 {
  @include tp-h3;
}

a {
  @include null-link;
  // text-decoration: none;
}

strong {
  @include tp-strong;
}

em {
  font-style: italic;
}

code {
  @include tp-code;
  color: inherit;
}

pre {
  @include wrap-words;
  background-color: color(black);
  white-space: pre-wrap;

  code {
    @include tp-code--pre;
  }
}

blockquote {
  padding-left: vr(0.5);
  border-left: vr(0.175) solid var(--theme-color);
  @include tp-blockquote;

  > cite {
    @include tp-date;
    display: block;
    margin-top: vr(0.125);
    color: var(--theme-color);
    font-style: normal;
    text-transform: none;
  }
}

figcaption {
  @include tp-caption;
}
