{{ define "head" -}}

    <title>Archives - {{ .Site.Title }}</title>
    <meta name="robots" content="noindex">

{{ end }}

{{ define "main" }}

    <article id="archives">

        <h3>Tags</h3>
        <ul class="tags">
            {{ range .Site.Taxonomies.tags.ByCount }}
               <li><a href="{{ .Page.Permalink }}">{{ .Page.Title }} ({{ .Count }})</a></li>
            {{- end -}}
        </ul>

        {{ range (where .Site.RegularPages "Section" "posts").GroupByDate "2006" }}

            <h3>{{ .Key }}</h3>
            <ul>
                {{- range .Pages }}

                    <li>
                        {{ $d := .Date }}
                        <span class="date">{{ T $d.Month }} {{ $d.Day }}, {{ $d.Year }}</span>
                        <a href="{{ .Permalink }}">{{ .Title }}</a>
                    </li>

                {{ end }}
            </ul>

        {{ end }}
        </article>

    <p></p>
{{ end }}