{{ define "head" -}}

    {{ $paginator := .Paginate (where .Site.RegularPages "Section" "posts") }}

    {{/* https://yoast.com/pagination-seo-best-practices/ */}}
    {{- if .Paginator.HasPrev }}
        <title>{{ $.Site.Title }} - Page {{ .Paginator.PageNumber }} of {{ .Paginator.TotalPages }}</title>
        <link rel="canonical" href="{{ .Paginator.URL | absURL}}" />
        <link rel="prev" href="{{ .Paginator.Prev.URL | absURL}}" />
    {{ else -}}
        <title>{{ $.Site.Title }}</title>
        <link rel="canonical" href="{{ .Permalink }}" />
    {{- end -}}

    {{- if .Paginator.HasNext }}
        <link rel="next" href="{{ .Paginator.Next.URL | absURL}}" />
    {{ end }}

{{ end }}

{{ define "main" }}


    {{ range .Paginator.Pages }}

        {{ partial "main.html" (dict "c" . "content" .Summary "isList" true) }}

    {{ end }}

    <nav class="pagination">
        {{ if .Paginator.HasPrev }}
            <a href="{{ .Paginator.Prev.URL }}" class="previous">&larr; {{ T "previous" }}</a>
        {{ end }}

        <!-- <a href="#">top</a> -->

        {{ if .Paginator.HasNext }}
            <a href="{{ .Paginator.Next.URL }}" class="next">{{T "next"}} &rarr;</a>
        {{ end }}
    </nav>

{{ end }}