{{ $paginator := .Paginate .Data.Pages }}
<ul class="list-post">
{{ range first 16 $paginator.Pages }}
<li>
  <a href="{{ .URL }}">
    <figure role="group">
      {{ if .Params.image }}<img src="{{ .Params.image }}" alt="">{{else}}<img src="/images/ploum-image.jpeg" alt="">{{end}}
      <figcaption>
        <ul>
          {{ range $index, $element :=.Params.tags }}
          <li>{{.}}</li>
          {{ end }}
        </ul>
        <h2>{{ .Title }}</h2>
        <strong>{{ .Params.author }}</strong>
      </figcaption>
    </figure>
   </a>
 </li>
 {{ end }}
</ul>

{{ template "_internal/pagination.html" . }}
