.title-only a {
	color: $bodyColor;
}

.archiveDate {
	margin-right: 5px;
	font-size: 0.8em;
	color: #aaaaaa;
}

.archiveLabel {
	font-size: 0.7em;
	float: right;
	color: #aaaaaa;
}

.archiveLabel a {
	color: #aaaaaa;
}

.archiveDateYear:first-of-type {
	margin-top: 80px;
	color: blue;
}

.archiveDateYear {
	margin-bottom: 4px;
}

.title-only {
	margin-bottom: 4px;
}
