#Label1 {
    text-align: center;
    width: 100%;
    z-index: 0;
    height: 0%;
    position: absolute;

	li {
    	margin-bottom: 5px;
	}

	ul {
 	   list-style-type: none;
    	padding-left: 0;
	}

	a {
		color: $bodyColor;
	}
}

.label {
	float: left;
	width: 33.333%;
}

.labelTitle {
	font-weight: 600;
}

#toggleSidebar {
    display:none;
}

.counter {
	font-size: 0.5em;//9px
	color: $linkColor;
	margin-left: 5px;
	position: absolute;
}

.topbarLeft {
	margin-right: 152px;
}
.topbarRight {
	margin-left: 118px;
	margin-top: -25px;
}

#toggleSidebar:checked ~ .border-menu-wrapper {
   margin-top: 0px;
}

#toggleSidebar:checked ~ .collapsableSidebar {
    top: 0px;
}

.collapsableSidebar {
	top: -200px;
	z-index: -2;
    overflow: hidden;
    position: relative;
    width: 100%;
    background-color: white;
    transition: top 0.4s;
//    @include box-shadow(0 9px 13px -8px gray) ;
}

// .title {
// 	z-index: -3;
// 	position: relative;
// 	top: 76px;
// 	font-size: 0.8em;
// }

.border-menu {
    cursor:pointer;
    box-shadow: #999 0 0 25px, #fff 0 0 3px 1px inset;
    //box-shadow: 0px 0px 5px #111;
    //@include box-shadow(0px, 0px, 5px, #111);

}

.shadow {
    box-shadow: #111 0 0 65px;
    //@include box-shadow(#444 0 0 25px, #fff 0 0 3px 1px inset);
}

#menuShadowWrap {
    //@include box-shadow(#111 0 0 65px);
    transition: all 1.4s;
    width: 16px;
    height: 10px;
    margin: 0 auto;
    margin-left: -8px;
    left: 50%;
    display: block;
    position: absolute;
    top: 6px;
   // @include box-shadow(#999 0 0 25px, #fff 0 0 3px 1px inset);
}

.border-menu:before {
    transition: all 0.4s;
    //@include box-shadow(#999 0 0 25px, #fff 0 0 3px 1px inset);
    //@include box-shadow(0px, 0px, 5px, #111);
    content: "";
    position: absolute;
    margin-left: -8px;
    //top: 9px;
    width: 16px;
    height: 2px;
    border-top: 6px double #000;
    border-bottom: 2px solid #000;
}

.border-menu-wrapper a {
	margin-left: 5px;
}

.border-menu-wrapper {
	margin-top: -50px;
	font-size: 0.8em;
    //  @include discrete-georgia();
	transition: margin-top 0.4s;
}
